html {
    margin: 0;
    padding: 0;

    height: 100vh;
    color: var(--text-primary);
    font-family: -apple-system, Inter, sans-serif, serif;
}

body {
    margin: 0;
    padding: 0 15vw;
    height: inherit;
}