@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "./variables.css";

html {
  margin: 0;
  padding: 0;

  height: 100vh;
  color: var(--text-primary);
  font-family: "Inter", sans-serif, serif;
}

body {
  margin: 0;
  padding: 0 15vw;
  height: inherit;
}
a {
  color: var(--red);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
